.cmd__block {
    position: absolute;
    right: 40px;
    top: 105px;
    background-color: rgb(255, 255, 255);
    width: 157px;
    height: 229px;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 15%);
}

.cmd__svg {
    color: #999;
    transition: color .3s;
}

.cmd__svg:hover {
    color: rgb(200, 100, 50);
}

.cmd__item {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
}

.cmd__item:nth-child(5) {
    padding-right: 17px;
}


.cmd__block_text {
    border-bottom: 1px solid #ECECEC;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
}

.cmd__block_text:hover > span {
    color: var(--orange);
}
.cmd__block_text:hover>svg {
    color: var(--orange);
}

.cmd__block_text_complain {
    border-bottom: 0px;
}

.cmd__span {
    font-size: 14px;
    color: #999999;
    margin-left: 5px;
}

.cmd__span:hover {
    color: #CC6633;
}

.cmd__item__close {
    display: flex;
    background-color: var(--gray);
    color: #666666;
    width: 100%;
    justify-content: center;
    padding: 7px;
    border-radius: 0px 0px 3px 3px;
}

@media all and (max-width: 1024px) {
    .cmd__block {
        right: 20px;
        top: 85px;
        height: 229px;
    }

    .cmd__item__close {
        padding: 6px;
        border-radius: 0px 0px 3px 3px;
    }
}

@media all and (min-width: 1024px) {
    .cmd__block {
        right: 20px;
        top: 90px;
    }
}

@media all and (min-width: 1540px) {
    .cmd__block {
        right: 40px;
        top: 105px;
    }
}

@media all and (max-width: 1023px) {
    .cmd__block {
        position: absolute;
        top: 50px;
        width: 140px;
        height: 110px;
        padding-top: 10px;
    }

    .cmd__block_text {
        display: flex;
        align-items: center;
        padding-bottom: 12px;
    }

    .cmd__item:nth-child(3n+1) {
        display: none;
    }

    .cmd__item:nth-child(-4n+2) {
        display: none;
    }

    .cmd__item:nth-child(3) {
        font-size: 12px;
        padding: 0px 20px 0px 20px;
    }

    .cmd__item:nth-child(5) {
        padding: 10px 15px 13px 20px;
    }

    .cmd__item:nth-child(5) div {
        padding-bottom: 0px;
    }

    .cmd__span {
        font-size: 12px;
    }

}